########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.file

pids
logs
results

node_modules

########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/.netbeans/**
**/nbproject/**
**/.idea/**
**/tracegl.js/**
**/sftp-config.json/**
**/tmp/**
**TODO.md**
.vscode/**

########################
# docs / tests
########################

coverage.html
**/test/suites/localTest.js
**/test/testpid.file
report.xml
**error.log
**messageLog**
**testNotification**
**testlist**
credentials**
testLogs**

########################
# local config
########################
config/env/**
config/privateKeys/**
config/ssl/**
.jenkins.conf

installers/**

index.js